*{
    background-color: #040714;
    margin: 0;
    padding: 0;
    color: #f9f9f9;
    box-sizing: border-box;
    font-family: 'Avenir';
}

.headerlogo{
    display: flex;
    justify-content: space-between;
}

.logo{
    padding: 10px;
}

.button{
    border: none;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 10px 15px;
    transition-duration: 0.4s;
    cursor: pointer;
}

.btn {
    color: rgb(255, 255, 255); 
    border: 2px solid #ffffff;
    border-radius: 5px;
}
  
.btn:hover {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
}

.login a{
    padding: 10px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
}

/* Slideshow container */
.carousel-cell img{
    width: 80%;
    height: 200px;
    object-fit: cover;
    margin-right: 10px;
    border-radius: 5px;
    z-index: -1;
    box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.2);
}

.flickity-button {
    background: none;
    color: none;
}

.flickity-button:hover{
    background: none;
}


.column {
    float: left;
    width: 20%;
    padding: 0 10px;
}

.cardimg{
    height: 100px;
}

.row{
    padding-top: 20px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.card {
    box-shadow: 1px 4px 8px 1px rgba(255, 255, 255, 0.2);
    border: 3px solid rgb(60, 60, 60);
    border-radius: 5px;
    padding: 16px;
    text-align: center;
    background-color: #040714;
  }

.recom h3{
    text-align: left;
    padding: 30px 10px 20px 10px;
}

h3{
    clear: left;
    padding: 30px 10px 20px 10px;
}

.moviecolumn{
    float: left;
    width: 25%;
    padding: 0 10px;
}

.movierow{
    padding: 5px;
}

.movieimg{
    width: 300px;
    height: 174.75px;
    object-fit: cover;
    box-shadow: 1px 4px 8px 1px rgba(255, 255, 255, 0.2);
    border: 3px solid rgb(60, 60, 60);
    border-radius: 5px;
}

p{
    clear: left;
    padding: 20px;
    text-align: center;
    font-size: 20px;
}

@media screen and (max-width: 768px) {
    /* For mobile phones: */
    .row {
        display: flex;
        flex-wrap: nowrap;
        overflow-x: auto;
        width: auto;
    }

    .column{
        display: flex;
        float: left;
        width: 220px;
        padding: 0 10px;
    }

    .card{
        width: 210px;
    }

    .cardimg{
        height: 100px;
        max-width: 160px;
    }

    .movierow{
        display: flex;
        flex-wrap: nowrap;
        overflow-x: auto;
        width: auto;
    }

    .moviecolumn{
        display: flex;
        width: 220px;
        padding: 0 10px;
    }

    .movieimg{
        height: 100px;
        max-width: 200px;
        object-fit: cover;
    }

}